* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/**:not(body):not(html) {
  border: dashed 1px black;
}*/

body {
  margin: 2vh 2vw;
}

.company {
  margin-bottom: 2vh;
}

.nav {
  margin-bottom: 3vh;
  overflow: auto;
}

.nav ul {
  list-style: none;
}

.nav li {
  float:left;
  margin-right: 10px;

}

.heading-div {
  width:90vw;
  margin: 0 auto 4vh auto;
  clear: left;
}

.heading {
  margin-bottom: 1vh;
}

.heading h1 {
  font-size: 5vw;
}

.sub-heading h2 {
  font-size: 4vw;
}

.item {
  width: 96vw;
  margin-bottom: 2vh;
}

.item img {
  width: 100%;
  margin-bottom: 2vh;
}

.item-text h4 {
  margin-bottom: 1vh;
}

@media screen and (min-width:415px) {

  .company h3 {
    font-size: 20px;
  }

  .nav {
    float: right;
    margin-right: 20vw;
    margin-bottom: 0;
  }

  .heading-div {
    clear: right;
  }

  .company {
    float: left;
    margin-bottom: 0;
  }

  .nav-top {
    overflow: auto;
    margin-bottom: 2vh;
  }

  .item {
    width: 47vw;
    float: left;
  }

  .item:nth-of-type(odd) {
    margin-right: 2vw;
  }
}

@media screen and (min-width:1300px) {

  .company h3 {
    font-size: 25px;
  }

  .nav {
    margin-right: 5vw;
  }

  .nav li {
    font-size: 1.2em;
  }

  .item {
    width: calc(90vw/4);
  }

  .item:nth-child(-n+3) {
    margin-right: 2vw;
  }
}
